@import 'nav.css';

*{
    box-sizing: border-box,
    padding: 0;
    margin: 0;
    font-family: "Jost", sans-serif;
}

main{
    min-height: 100vh;
    margin-bottom: -240px;
    background-image: var(--body-bg);
}

.cardheader{
    font-size: 35px;
    color: var(--text-color);
}

.light-mode{
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --product-border-color: #000000;
    --suggestion-bg-color: #ffffff;
    --text-color: #1D242B;
    --text-color-invert: #FAFAFA;
    --button-bg-color: #4c5053;
    --button-hover-color: #ffffff;
    --button-border-color: #d5d9d9;
    --footer-bg-color: linear-gradient(to right bottom, #c3cfe2, #c3d1e7, #c3d3ed, #c3d4f2, #c3d6f8, #c4d5fb, #c5d3fd, #c7d1ff, #cecbff, #dbc3ff, #ebb9ff, #fdaefd);
}

.dark-mode{
    --body-bg: linear-gradient(to top, #0d1117, #0a0e14, #070b11, #04080d, #010409);
    --product-border-color: #ffffff;
    --suggestion-bg-color: #000000;
    --text-color: #FAFAFA;
    --text-color-invert: #1D242B;
    --button-bg-color: #eeeeee;
    --button-hover-color: #4c5053;
    --button-border-color: #2a2626;
    --footer-bg-color: linear-gradient(to right bottom, #010409, #04070e, #070a12, #0b0d15, #0f0f18, #100f1d, #120f22, #140e26, #130b2e, #110836, #0e043e, #090046);
}

/*Deine Vorschläge*/
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*height: 100vh;*/
}

.cardcontainer{
    padding-block: 5rem;
}

.cardcontent{
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 15;
}

.product{
    width: 600px;
    border-radius: 1.25rem;
    border: 3px var(--product-border-color) solid;
    overflow: hidden;
}

.img{
    text-align: center;
    background-color: var(--suggestion-bg-color);
    max-width: 100%;
    max-height: 240px;
    min-height: 240px;
}

.box{
    justify-content: flex-start;
    background-color: var(--suggestion-bg-color);
    text-align: center;
    margin-bottom: 0;
}

.img img{
    max-width: 100%;
    height: 255px;
}

.info{
    background-color: var(--suggestion-bg-color);
    border-radius: 1rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 60px;
    height: 120px;
    color: var(--text-color);
}

.swiper {
    width: 1080px;
    height: 530px;
}

.cardbutton{
    display: inline-block;
    background-color: var(--button-bg-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: .5rem;
    color: var(--text-color-invert);
    font-weight: 500;
    font-size: 14px;
    max-height: 50px;
}

.cardbutton:hover{
    color: var(--text-color);
    background-color: var(--button-hover-color);
    border: 1px solid var(--button-border-color);
}

.cardprice{
    font-size: 22px;
}

.cardsale{
    text-align: left;
}

.cardrow{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

/*Basics*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-container, .small-container-nosearch{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.viewmorerow{
    padding-left: 0;
    padding-right: 10px;
    display: flex;
    color: var(--text-color);
    justify-content: space-between;
}

.viewmorebutton{
    display: inline-block;
    background-color: var(--button-bg-color);
    padding: .75rem;
    border-radius: .5rem;
    color: var(--text-color-invert);
    font-weight: 500;
    font-size: 14px;
    max-height: 50px;
}

.viewmorebutton:hover{
    color: var(--text-color);
    background-color: var(--button-hover-color);
    border: 1px solid var(--button-border-color);
}

/*Discounts*/
.discounts {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.25s;
    color: var(--text-color);
}

.discountheader{
    text-align: left;
    padding-left: 10px;
    position: relative;
    line-height: 60px;
    font-size: 35px;
    color: var(--text-color);
}

.discountrow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.discounts img{
    max-width: 100%;
    border-radius: 0.5em;
}

.discounts:hover{
    transform: translateY(-5px);
}

/*Neues*/
.new {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.25s;
    color: var(--text-color);
}

.newheader{
    text-align: left;
    padding-left: 10px;
    position: relative;
    line-height: 60px;
    font-size: 35px;
    color: var(--text-color);
}

.new img{
    max-width: 100%;
    border-radius: 0.5em;
}

.new:hover{
    transform: translateY(-5px);
}

/*Categories*/
.categoryrow{
    max-width: 1080px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.categoryheader, .categoryheadericon{
    text-align: left;
    padding-left: 10px;
    position: relative;
    line-height: 60px;
    font-size: 35px;
    color: var(--text-color);
}

.searchheader {
    text-align: left;
    padding-left: 10px;
    position: relative;
    line-height: 60px;
    font-size: 35px;
    padding-top: 15px;
    color: var(--text-color);
}

.newrow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categorywrap{
    padding: 10px;
}

.categorybutton{
    display: inline-block;
    background-color: var(--button-bg-color);
    padding: .75rem;
    border-radius: .5rem;
    color: var(--text-color-invert);
    font-weight: 600;
    font-size: 20px;
    max-height: 100px;
    border: 1px solid transparent;
}

.categorybutton:hover{
    color: var(--text-color);
    background-color: var(--button-hover-color);
    border: 1px solid var(--button-border-color);
}

.categorysite{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
}

footer, .push{
    height: 240px;
}

/*Footer*/
.footer{
    background-image: var(--footer-bg-color);
    color: var(--text-color);
    font-size: 18px;
    padding: 60px 0 60px;
    height: 240px;
}

.footerheader{
    font-size: 24px;
    color: var(--text-color);
}


/*Products*/
.productssite{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
}

.productrow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-category{
    display: inline-block;
    background-color: var(--button-bg-color);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: .5rem;
    color: var(--text-color-invert);
    font-weight: 500;
    font-size: 14px;
    max-height: 25px;
    margin-right: 5px;
}

.sorter, .maxview{
    margin: 10px;
    color: var(--text-color-invert);
    background: var(--button-bg-color);
    font-size: 16px;
    border-radius: 0.5em;
    cursor: pointer;
    border: 2px var(--button-bg-color) solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.sorter:hover, .maxview:hover{
    color: var(--text-color-invert);
    background: var(--button-bg-color);
}

.products {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.25s;
    color: var(--text-color);
}

.productsheader{
    text-align: left;
    padding-left: 10px;
    position: relative;
    line-height: 60px;
    font-size: 35px;
    color: var(--text-color);
}

.products img{
    max-width: 100%;
    border-radius: 0.5em;
}

.products:hover{
    transform: translateY(-5px);
}

/*Page Buttons*/
.page-buttons{
    display: flex;
    margin: 0 auto 80px;
}

.page-button, .start-page-btn, .prev-page-btn, .next-page-btn, .end-page-btn{
    display: inline-block;
    border: 1px solid var(--button-border-color);
    color: #1D242B;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: .5rem;
    line-height: 40px;
    cursor: pointer;
}

.page-button.active{
    display: inline-block;
    background-color: var(--button-bg-color);
    color: var(--text-color-invert);
    border: 1px solid transparent;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.imgs{
    margin-top: 80px;
    margin-bottom: 20px;
    border-radius: 0.5em;
}

.imgs img{
    max-width: 500px;
    height: 100%;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.prrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.prinfos{
    margin-left: 20px;
    margin-top: 80px;
    width: 500px;
    color: var(--text-color);
}

.prheader{
    font-size: 35px;
    color: var(--text-color);
}

.prprice{
    font-size: 25px;
    padding-bottom: 50px;
}

.prdescription {
    padding-bottom: 100px;
}

.pruser{
    padding-bottom: 5px;
    font-size: 20px;
    color: var(--text-color);
}

.prdate{
    color: var(--text-color);
}

.productrowbutton{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}