@import 'nav.css';

*{
    box-sizing: border-box,
    padding: 0;
    margin: 0;
    font-family: "Jost", sans-serif;
}

:root{
    --bg-color: #1D242B;
    --bg-color2: #4c5053;
    --text-color: #FAFAFA;
    --text-color-invert: #1D242B;
    --hover-color: #0077C0;
    --p-font: 25px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.cardcontainer{
    padding-block: 5rem;
}

.cardcontent{
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 15;
}

.product{
    width: 600px;
    border-radius: 1.25rem;
    overflow: hidden;
}

.img{
    position: relative;
    background-color: var(--bg-color2);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
}

.info{
    background-color: var(--text-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.swiper {
    width: 1200px;
    height: 500px;
}