*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	list-style-type: none;
	text-decoration: none;
	scroll-behavior: smooth;
	font-family: "Jost", sans-serif;
}

.light-mode{
	--nav-text-color-invert: #FAFAFA;
	--nav-text-color: #1D242B;
	--hover-color: #0077C0;
	--search-button-bg-color: #000000;
	--search-button-color: #ffffff;
	--p-font: 25px;
	--navbar-bg-color: linear-gradient(to right bottom, #fdaefd, #ebb9ff, #dbc3ff, #cecbff, #c7d1ff, #c5d3fd, #c4d5fb, #c3d6f8, #c3d4f2, #c3d3ed, #c3d1e7, #c3cfe2);
}

.dark-mode{
	--nav-text-color-invert: #1D242B;
	--nav-text-color: #FAFAFA;
	--hover-color: #0077C0;
	--search-button-bg-color: #ffffff;
	--search-button-color: #000000;
	--p-font: 25px;
	--navbar-bg-color: linear-gradient(to right bottom, #090046, #0e043e, #110836, #130b2e, #140e26, #120f22, #100f1d, #0f0f18, #0b0d15, #070a12, #04070e, #010409);
}

.navbar{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-image: var(--navbar-bg-color);
	z-index: 9;
	max-height: 80px;
}

.nav{
	padding: 10px 10vw;
	display: flex;
	justify-content: space-between;
}

.brand-logo{
	height: 60px;
}

.logo{
	font-size: 35px;
	font-weight: 500;
	color: var(--nav-text-color);
}

.categories{
	display: flex;
	padding: 10px;
}

.categories a{
	font-size: var(--p-font);
	font-weight: 500;
	color: var(--nav-text-color);
	margin: 0 25px;
}

.categories a:hover{
	color: var(--hover-color);
}

.nav-items{
	display: flex;
	align-items: flex-start;
	padding: 10px;
}

.nav-right{
	font-size: var(--p-font);
	color: var(--nav-text-color);
}

.nav-right a:hover{
	color: var(--hover-color);
}

.nav-right a{
	font-size: var(--p-font);
	color: var(--nav-text-color);
	margin: 0 5px
}

.search{
	width: 500px;
	display: flex;
}

.result-box{
	border: 1px solid var(--search-button-bg-color);
	width: 80%;
	border-radius: 0.5rem;
}

.result-box li{
	list-style-type: none;
	border-radius: 3px;
	padding: 5px;
	color: var(--nav-text-color);
	cursor: pointer;
	background: var(--search-button-color);
}

.result-box li:hover{
	background: var(--hover-color);
}

.search-box{
	width: 80%;
	height: 40px;
	padding: 10px;
	border: 1px solid var(--nav-text-color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background: none;
	color: var(--nav-text-color);
	outline: none;
}

::placeholder {
	color: var(--nav-text-color);
	opacity: 1;
}

.search-button{
	width: 10%;
	height: 40px;
	padding: 10px 10px;
	border: none;
	outline: none;
	cursor: pointer;
	background: var(--search-button-bg-color);
	color: var(--search-button-color);
	text-transform: capitalize;
	font-size: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}